<td>
  <% if book.favorited_by?(current_user)  %>
    <%= link_to book.favorites.count, book_favorites_path(book), method: :delete, class: "fas fa-heart heart_red", local:true %>
  <% else %>
    <%= link_to book.favorites.count, book_favorites_path(book), method: :post, class: "fas fa-heart heart_blue", local:true %>
  <% end %>
</td>