<div class="container">
  <div class="col-xs-12">
    <h2>Follow Users</h2>
    <% if @users.exists? %>
      <%= render '/users/index', users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>